@import url('https://fonts.googleapis.com/css?family=Dosis|Indie+Flower|Roboto&display=swap');

html
{
    background-image: url(images/github-backdrop.png);
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 200px;
}

.container
{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 60px;
    width: 500px;
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.8), 0 10px 25px 0 rgba(0, 0, 0, 0.7);
}

.image
{
    display: block;
    width: 500px;
    height: 500px;
}

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay
{
    opacity: 1;
}

.text
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

